* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  min-width: 100vw;
  min-height: 100vh;
  font-family:'Poppins', sans-serif;;
}
.App-header {
  height: 60px;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #01B1BE;
}
.App-container {
  width: 100%;
  display: flex;
}
.App-header h1 {
  color: white;
}
@keyframes loadingAnim {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 800px) {
  .App-container {
    flex-direction: column;
  }
}
